* {
    margin: 0;
    padding: 0;
    outline: 0;
    font-family: "Open Sans", sans-serif;
}

body {
    height: 100vh;
    background: blue;
    color: white;
    background-image: url(https://images3.alphacoders.com/110/1105901.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

h1 {
    color: red;
}
